<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>
    </title>
</head>
<body>
    <div id="app"></div>
    <link rel="stylesheet" href="~/built/main.bundle.css">
    <script src="~/built/main.bundle.js"></script>
</body>
</html>